@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #3e4042;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #5e5e5f;
	border-radius: 5px;
}

._loading_overlay_wrapper {
	position: absolute !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
